<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io();

    socket.on('hello', function (msg) {
      console.log('Hello message from server: ' + msg);
    });

    socket.on('data', function (data) {
      console.log(data);


      switch (data.value) {
        case 'occupied':
          $('#' + data.sensorId).removeClass('free');
          $('#' + data.sensorId).addClass('occupied');
          break;
        case 'free':
          $('#' + data.sensorId).removeClass('occupied');
          $('#' + data.sensorId).addClass('free');
          break;
        default:
      }
    });
  });
</script>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>

  <table class="parking-spot-table">
    <% for(var i=1; i <= sensorsCount/3; i++ ) { %>
    <tr>
      <% for(var j=1; j <= sensorsCount; j++ ) { %>
      <td>
        <div class="parking-spot" id="<%= j %>">
          <%= j %>
        </div>
      </td>
      <% } %>
    </tr>
    <% } %>
  </table>
</body>

</html>